footer {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

footer .content {
  margin: 0 auto;
  width: 40%;
}

footer h3,
footer p {
  font-family: Segoe UI;
  font-style: normal;
  color: #ffffff;
}

footer h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
}

footer p {
  font-size: 15px;
  line-height: 100%;
  width: 15vw;
}

#left-footer p,
#right-footer .link {
  min-width: 100%;
}

#right-footer {
  padding-top: 2%;
}

.link {
  color: white;
  border-bottom: 1px solid white;
  font-size: 17px;
}

.media-section {
  width: 50%;
  margin-top: 5%;
}

.media-section .row {
  margin-bottom: 5%;
}
footer #left-footer img {
  margin-bottom: 6%;
  margin-top: 5%;
  max-width: 100%;
}

#right-footer img {
  width: 34px;
  height: 34px;
}

.footnote {
  color: white;
  margin: auto;
  margin-top: 3%;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .media-section img {
    padding: 5px;
  }
  .navbar-brand img{
    width:50vw;
}
  #left-footer h3,
  #right-footer h3 {
    font-size: 15px;
  }
  #left-footer p,
  #right-footer .link {
    font-size: 10px;
    line-height: 107%;
  }
  #left-footer img {
    width: 264px;
  }
  .footnote {
    font-size: 10px;
  }

  .card-text {
    font-size: 11px;
  }
}
