
body{
    overflow-x: hidden;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#header{
    background-image: url('../img/header/header_partnership.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 281px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

header h1{

    font-family: Eras Demi ITC;
    font-style: Bold;
    font-weight: 600;
    font-size: 53px;
    line-height: 61px;
    letter-spacing: -0.025em;
    
    color: #FFFFFF;
    margin-top: 5%;
}



#supplier{
    max-width: 100%;
}

#supplier .row{
    padding-top:4%;
    padding-bottom:4%;
}

#supplier h1{
    font-family: Poppins;
    font-style: Bolder;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #FB8500;
    margin-left:10%;
}

#supplier .paragraph{
    text-indent: 8%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    
    text-align: justify;
    width:90%;
    margin:0 auto;
/* or 24px */
}


#supplier img{
    margin-top:6%;
    max-width: 100%;
}


.gray-bg{
    background: rgba(66, 122, 161, 0.1);
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width:95vw;
    margin: auto;
}

#investor{
    margin-bottom: 4%;
}


#investor .content{
    padding: 4% 6% 4% 6%;
}
#investor .content h1{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 60px;
/* identical to box height */


color: #FB8500;
}

#investor .content img{
    margin-top:10%;
    max-width: 100%;
}

#investor .content p{
font-family: Poppins;
text-indent: 8%;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 120%;
/* or 24px */

text-align: justify;

color: #000000;

opacity: 0.7;
}


.quote{
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 31px;
    line-height: 46px;
    margin-bottom: 3%;
}





footer{
    background-image: url('../img/footer/partnership.png');
}

@media screen and (max-width: 768px) {
    .header-text h3{
        font-size:3vw;
    }
    .navbar-brand img{
        width:50vw;
    }
    #principles .button{
        margin-bottom:5%;
    }
    .header-text{
        margin-top:0;
    }
    .media-section img {
        padding:5px;

    }

  }




